<nav>
    <div class="site-title">
        
        <a href="/"><h1>RAJ's BLOG</h1></a>
        <p> The Memories Site</p>
    </div>
    <ul>
       
        <li><a href="/">BLOGS</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/blogs/create">NEW BLOGS</a></li>
    </ul>
</nav>